.labelstartdate, .labelstarttime, .labelweekday {
    float: left;
}
.ezpevent_remove_period, .ezpevent_remove_exclude_period {
    float: right;
}
.labelstarttime {
    margin-right: 15px;
}
.labelendtime {
    float: left;
}
.weekdaysheader {
    float: left;
    margin-top: 3px;
}
label.labelweekday {
    font-weight: normal;
}
.ezpeventhr {
    margin: 20px 0 10px 0;
}
.weekdays {
    display: none;
    clear: both;
    margin: 20px 0 5px;
}
.ezpeventclock {
    font-size: 13px;
    position: relative;
    top: 4px;
}